*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p
{
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    letter-spacing: 0px;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Playfair Display', serif;
}

a
{
	text-decoration: none;
	color: rgb(214, 207, 203); /*white*/
}

.text-orange
{
	color: rgb(247, 128, 81);
}

.clear:after
{
	content: " ";
	display: block;
    clear: both;
}

.text-theme-color1
{
	color: rgb(186, 68, 9); /*orange*/
}

.text-theme-color2
{
	color: rgb(214, 207, 203); /*gray*/
}

.text-theme-color3
{
	color: rgb(242, 239, 239); /*dark gray*/
}

.bg-theme1
{
	background-color: rgb(86, 80, 77); /*gray*/
}

.bg-theme2
{
	background-color: rgb(188, 114, 77); /*orange*/
}

.bg-theme3
{
	background-color: rgb(183, 177, 174);
}

.navbar /*override navbag padding*/
{
	padding: 1% 40px;
	z-index: 1043;
}

.navbar-toggler-icon /*override bg of navbar toggler-icon*/
{
	background-image: url(../images/navbar-icon.png);
}

.navbar-brand:hover
{
	color: rgb(214, 207, 203);
}

.active, .nav-link:hover, .nav-link:focus /*.nav-link.active*/
{
	background-color: rgb(188, 114, 77);
	border: 1px solid white ;
	border-radius: 12px;
	width: 120px;
	text-align: center;
	color: rgb(214, 207, 203);
}

.banner
{
	min-height: 100vh;
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}

.banner-wrapper
{
	position: relative;
	width: 100%;
	min-height: 1px;
	background-color: rgba(188, 114, 77, 0.5);
	padding: 10vh 5%;
}

.avatar
{
	padding: 3% 0;
}

.avatar-img
{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	z-index: 3;
}

.avatar-glow-inner
{
	width: 170px;
	height: 170px;
	border-radius: 50%;
	z-index: 2;
}

.avatar-glow
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	z-index: 1;
}

.more-about
{
	position: absolute;
	bottom: 10vh;
	margin: 0 -5%;
}

.btn-more-about, .btn-more-about a:visited
{
	background-color: rgb(86, 80, 77);
	text-decoration: none;
	padding: 4%;
	color: rgb(242, 239, 239);
}

.about-intro
{
	padding: 5% 5% 100px;
	text-align: center;
}

.about-intro>p
{
	text-align: center;
}

.skills-box
{
	position: relative;
	top: -60px;
	border: 1px solid #e0e5e1;
	border-radius: 50px;
	padding: 5% 0;
	margin: 0 5%;
}

.skills-content
{
	margin: 0 2%;
	padding: 2% 5%;
	text-align: center;
}

.skill
{
	border-bottom: 1px solid #e0e5e1;
	padding: 2% 0;
	margin: 3% 0 0;
}

.projects
{
	background-color: rgb(188, 114, 77);
	padding: 20px;
}

.project-list
{
	list-style-type: none;
}

.project
{
	margin: 3% 2% 0;
	text-align: center;
}

.social-links
{
	text-align: center;
	display: inline;
	padding: 1%;
}

.social-links>a
{
	color: black;
	margin: 0 10px;
}

.social-link-border
{
	background-color: red;
	width: 30px;
	height: 25px;
	border-radius: 50%;
}

#copyright
{
	background-color: #000;
	color: #fff;
}


/*media queries*/
/*Small height but large width*/
@media (max-height: 700px) and (min-width: 500px) and (max-width: 991.98px) 
{
	.more-about
	{
		display: none !important;
	}
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) 
{

	
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px)
{
	
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) 
{

	
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) 
{
	.banner
	{
		min-height: 70vh;
	}

	.banner-wrapper
	{
		padding: 14vh 0 0;
	}

	.avatar
	{
		position: absolute;
		padding: 0;
		bottom: 0;
		right: 0;
	}

	.avatar-glow
	{
		position: absolute;
		bottom: -100px;
		right: 100px;
	}

	.skills-box
	{
		padding: 2% 0;
	}

	.skills-content
	{
		margin: 0 2%;
		padding: 2% 0;
	}

	.skill
	{
		margin: 10% 0 0;
	}

	.skills-content-left
	{
		border-right: 1px solid #e0e5e1;
	}

	.skills-content-right
	{
		border-left: 1px solid #e0e5e1;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) 
{
	.banner
	{
		min-height: 70vh;
	}

	.banner-wrapper
	{
		padding: 14vh 0 0;
	}

	.avatar
	{
		position: absolute;
		padding: 0;
		bottom: 0;
		right: 0;
	}

	.avatar-glow
	{
		position: absolute;
		bottom: -100px;
		right: 100px;
	}

	.skills-box
	{
		padding: 2% 0;
	}

	.skills-content
	{
		margin: 0 3%;
		padding: 2% 2%;
	}

	.skill
	{
		margin: 10% 0 0;
	}

	.skills-content-left
	{
		border-right: 1px solid #e0e5e1;
	}

	.skills-content-right
	{
		border-left: 1px solid #e0e5e1;
	}
}
