*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p
{
	text-align: justify;
	font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
    letter-spacing: 0px;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Cardo', serif;
}

a
{
	text-decoration: none;
}

hr
{
	border-color: rgb(132, 81, 104);
}

.clear:after
{
	content: " ";
	display: block;
    clear: both;
}

.text-theme-color
{
	color: rgb(132, 81, 104);
}

.text-theme-color-bold
{
	color: rgb(132, 81, 104);
	font-weight: bold;
}

.text-theme-color2
{
	color: rgb(252, 252, 252);
}

.text-theme-color2-bold
{
	color: rgb(252, 252, 252);
	font-weight: bold;
}

.bg-theme1
{
	background-color: rgb(132, 81, 104);
}

.bg-theme2
{
	background: radial-gradient(circle, rgba(252, 252, 252), rgb(226, 226, 226), #c6c4c6);
}

.bg-theme3
{
	background-color: rgba(252, 252, 252);
}

.btn-theme
{
	background-color: rgb(252, 252, 252);
	color: rgba(132, 81, 104, 0.5);
  	border-color: rgb(132, 81, 104);
  	width: 150px;
  	font-weight: bold;
  	text-align: center;
}

.btn-theme:hover, .btn-theme:focus, .btn-theme:active
{
	color: rgb(132, 81, 104);
	box-shadow: 0 0 0 0.2rem rgba(132, 81, 104, 0.25);
}

.nav-link:hover, .nav-link:focus, .active
{
	color: rgba(132, 81, 104, 0.5);
}

.navbar-toggler-icon
{
	background-image: url("../images/navbar-icon.png");
}

.header
{
	min-height: 100vh;
	padding: 5vh 5%;
}

.banner-text
{
	text-align: center;
}

.avatar
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 15%;
}

.about-intro
{
	text-align: center;
	padding: 5%;

}

.skills
{
	display: none;
	text-align: center;
	padding: 5%;
}

.projects
{
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
}

.project
{
	margin: 2% 0;
}

.project .card .card-img-top
{
	min-height: 250px;
	transition: .5s ease;
  	backface-visibility: hidden;
  	opacity: 1;
}

.project .card .card-img-overlay
{
	transition: .5s ease;
  	opacity: 0;
  	background: radial-gradient(circle, rgba(252, 252, 252), rgb(226, 226, 226), #c6c4c6);
}

.project .card .card-img-top:hover
{
	opacity: 0.3;
}

.project .card .card-img-overlay:hover
{
	opacity: 0.9;
}

.connect-form
{
	padding: 2%;
	text-align: center;
	color: #f9f9f9;
}

/*override form control box shadow*/
.form-control:focus {
	border-color: rgb(252, 252, 252);
  	box-shadow: 0 0 0 0.2rem rgba(252, 252, 252, 0.25);
}

.connect-links
{
	padding: 2%;
	text-align: center;
	color: #f9f9f9;
}

.social-links>a
{
	margin: 2%;
	text-decoration: none;
	color: #fff;
}

.copyright
{
	text-align: center;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar 
{
    width: 150px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 1111;
    transition: all 0.3s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active 
{
    left: 0;
}

#close-sidebar 
{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-left: 100px;
}

#side-nav-overlay 
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1110;
    display: none;
    transition: all 0.3s;
}

#side-nav-overlay.active
{
	display: block;
}

/* ---------------------------------------------------
    Media Queries
----------------------------------------------------- */
/*hide side navbar on large devices even active*/
@media (min-width: 992px)
{
	#side-nav-overlay.active
	{
		display: none;
	}

	#sidebar.active 
	{
	    left: 0;
	}
}



/*Small height but large width*/
@media (max-height: 700px)
{
	.header
	{
		padding: 100px 5%;
	}
	
}


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) 
{


}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px)
{
	
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) 
{

	
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) 
{
	
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 2499px) 
{
	
}

/*super large screen*/
@media (min-width: 2500px)
{
	
}
